<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>Response</filter-name>
        <filter-class>ResponseFilter</filter-class>
    </filter>
    <filter>
        <filter-name>VisitorCounter</filter-name>
        <filter-class>VisitorCounter</filter-class>
    </filter>
    <filter>
        <filter-name>ResTimeCalc</filter-name>
        <filter-class>ResTimeCalc</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>VisitorCounter</filter-name>
        <url-pattern>/CountVisits</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>f1</filter-name>
        <url-pattern>/servlet1</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Response</filter-name>
        <url-pattern>/Response</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResTimeCalc</filter-name>
        <servlet-name>TimeConsumer</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeConsumer</servlet-name>
        <servlet-class>TimeConsumer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>f1</filter-name>
        <filter-class>MyFilter</filter-class>
        <init-param>
            <param-name>Construction</param-name>
            <param-value>no</param-value>
        </init-param>
    </filter>
    <servlet-mapping>
        <servlet-name>TimeConsumer</servlet-name>
        <url-pattern>/TimeConsumer</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>servlet1</welcome-file>
    </welcome-file-list>
</web-app>
