<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>visitsFilter</filter-name>
        <filter-class>Filters.cifCheckParameter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>visitsFilter</filter-name>
        <servlet-name>cif</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>cif</servlet-name>
        <jsp-file>/cif.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ccatch</servlet-name>
        <jsp-file>/ccatch.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>cchoose</servlet-name>
        <jsp-file>/cchoose.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cif</servlet-name>
        <url-pattern>/cif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ccatch</servlet-name>
        <url-pattern>/ccatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cchoose</servlet-name>
        <url-pattern>/cchoose</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
