<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>visitFilter</filter-name>
        <filter-class>com.websiteName.FilterPackage.visitFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>visitFilter</filter-name>
        <url-pattern>/index.html</url-pattern>
    </filter-mapping>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>com.websiteName.ListenerPackageName.DBConnListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionAttributeListener</description>
        <listener-class>com.websiteName.ListenerPackageName.conAttributeListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SaveServlet</servlet-name>
        <servlet-class>SaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishServlet</servlet-name>
        <servlet-class>FinishServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveServlet</servlet-name>
        <url-pattern>/SaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/ViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishServlet</servlet-name>
        <url-pattern>/FinishServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.html</welcome-file>
    </welcome-file-list>
</web-app>
